*.html
*.json
*.log
*.py[cod]
*.rst
*.txt
.cache
.coverage
.env
.venv

.*_cache/
.idea/
__pycache__/
_build/
build/
env/
venv/

# always include
!README.rst
!docs/source/index.rst
!docs/requirements.txt
!docs/source/static/*.rst
